html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #42a5f5;
  --light-color: #80d6ff;
  --dark-color: #0077c2;
  --background-color: #DDDDDD;
  --material-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  --a4-height: 297mm;
  --a4-width: 210mm;
  --card-height: 3.5in; /* ~88mm */
  --card-width: 2.5in; /* ~63mm */
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.2rem;
  font-size: 0.8rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0.2rem;
  font-size: 0.8rem;
  border: none;
  border-bottom: 1px solid #ccc;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button:disabled {
  background: #999;
  cursor: default;

}

button:focus {
  border-color: #666;
}

button:hover:not(:disabled) {
  background: rgb(185, 185, 185);
}

button {
  color: black;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: 0.1s;
}

button {
  background: var(--light-color);
  box-shadow: var(--material-shadow);
}

button:not(:disabled):active {
  font-weight: 500;
  background-color: var(--dark-color);
  color: white;
  box-shadow: none;
}

button:not(:disabled):not(:active):hover {
  font-weight: 500;
  background-color: var(--dark-color);
  color: white;
  /* box-shadow: none; */
}

.icon-button {
  background: none;
  box-shadow: none;
  padding: 0;
}
