html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--background-color);
}

:root {
  --primary-color: #ff8f00;
  --light-color: #ffc046;
  --dark-color: #c56000;
  --background-color: #DDDDDD;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.2rem;
  font-size: 0.8rem;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button:disabled {
  color: #999;
}

button:focus {
  border-color: #666;
}

button {
  color: black;
  background-color: var(--primary-color);
  font-weight: 500;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 1px 1px 3px 0px #333333c2;
  cursor: pointer;
}

button:not(:disabled):active {
  font-weight: 500;
  background-color: var(--light-color);
  box-shadow: none;
}
